body {
  background: rgb(122, 0, 219);
  background: linear-gradient(
    90deg,
    rgba(122, 0, 219, 1) 0%,
    rgba(80, 0, 143, 1) 50%,
    rgba(37, 0, 67, 1) 100%
  );

  color: white;

  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#webslides:hover #navigation a:hover {
  background-color: rgba(180, 0, 204, 0.5);
  color: #fff;
}

.text-body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-quote-custom {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  font-size: 9pt;
}

.slide-bottom {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.img-wrap {
  width: 60%;
  height: auto;
}

.animation-duration-1s {
  animation-duration: 1s;
}
